.footer.section{
    padding-top: 110px;
}
#footer{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 54px;
    padding-bottom: 46px;
}
#footer .col-title{
    font-family: American Captain;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 100%;
    color: #B4202A;
    text-transform: uppercase;
    margin-bottom: 23px;
}
#footer .col-title span{
    display: inline-block;
    vertical-align: middle;
}
#footer .col-title svg{
    vertical-align: middle;
    display: inline-block;
    margin-right: 7px;
}
#footer ul{
    padding-left: 0;
    list-style: none;
}
#footer ul li{
    margin-bottom: 5px;
}
#footer .footer_info{
    margin-bottom: 17px;
    max-width: 328px;
}
#footer .footer_info,
#footer ul li a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    text-decoration: none;
}
#footer .footer_info a,
#footer ul li a>.menu_link_title{
    position: relative;
}
#footer .footer_info a .link__icon{
    margin-left: 12px;
}
#footer .footer_info a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}
#footer .footer_info .phone {
    position: relative;
    display: inline;
}
#footer .footer_info a:after,
#footer .footer_info a span:after,
#footer ul#menu-footer-menu>li>a>.menu_link_title:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: 1;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
}
#footer .footer_info a:hover:after,
#footer .footer_info a:hover span:after,
#footer ul#menu-footer-menu>li:hover>a>.menu_link_title:after,
#footer ul#menu-footer-menu>li>a:hover>.menu_link_title:after{
    transform: scaleX(1);
}

#footer .col:first-child{
    max-width: 16.5%;
}
#footer .col:nth-child(2){
    min-width: 24%;
}
#footer .footer_logo{
    transition: all 0.5s ease;
}
#footer .footer_logo img{
    max-width: 100%;
}
#footer .footer_logo:hover{
    opacity: 0.5;
}

#menu-footer-menu-1 li .sub-menu,
#menu-footer-menu li .sub-menu{
    background: #0F0D26;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    backdrop-filter: blur(50px);
    min-width: 426px;
    list-style: none;
    position: absolute;
    bottom: 101%;
    padding: 12px 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
    left: -1px;
}
#menu-footer-menu-1 li:hover>.sub-menu,
#menu-footer-menu li:hover>.sub-menu{
    visibility: visible;
    opacity: 1;
}
#menu-footer-menu-1 li a .link__icon,
#menu-footer-menu li a .link__icon{
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
}
#footer #menu-footer-menu-1 li,
#footer #menu-footer-menu li{
    position: relative;
    display: block;
    float: left;
    clear: both;
}
#menu-footer-menu-1 li .sub-menu li,
#menu-footer-menu li .sub-menu li{
    padding: 6px 39px;
}
#menu-footer-menu-1 li .sub-menu li a:before,
#menu-footer-menu li .sub-menu li a:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: 1;
    z-index: -1;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
}
#menu-footer-menu-1 li .sub-menu li a:hover:before,
#menu-footer-menu li .sub-menu li a:hover:before{
    transform: scaleX(1);
}
#menu-footer-menu-1 li a .link__icon>svg,
#menu-footer-menu li a .link__icon>svg{
    transition: transform 0.5s ease;
}
#menu-footer-menu-1 li:hover>a .link__icon>svg,
#menu-footer-menu li:hover>a .link__icon>svg{
    transform: rotate(180deg);
}




#copyright{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 19px 0;
}
#copyright .copyright{
    margin-top: 14px;
}
#copyright .copyright,
#copyright .developed{
    display: inline-block;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.4);
}
#copyright .developed{
    float: right;
}
#copyright .developed a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 9px;
    transition: opacity 0.5s ease-in-out;
}
#copyright .developed a svg path{
    transition: all 0.5s ease-in-out;
}
#copyright .developed a:hover svg path{
    fill: #29235C;
    fill-opacity: 1;
}

.social_links{
    margin-top: 20px;
    text-align: center;
}
.social_links a{
    display: inline-block;
    margin: 0 5px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    transition: all 0.5s ease;
}
.social_links a:hover{
    color: #fff;
}
