@media (min-width: 1200px){
	.malls-attractions {
		columns: 3;
	}
}

@media (min-width: 1731px){
    .our_team .swiper-button-next{
        right: -20px;
    }
}
@media (max-width: 490px) {
	.title_wrapper_color {
    	width: 90%!important;
	}
}
@media (min-width: 1550px){
    .modal-video .modal-xl {
        max-width: 1395px;
    }
    .modal-bio .modal-xl {
        max-width: 1286px;
    }
    .modal-video .modal-xl iframe{
        height: 800px;
    }
    .modal-slider .modal-xl {
        max-width: 1395px;
    }
}
@media (min-width: 1200px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1750px;
    }

    .footer.section .container{
        max-width: 1520px;
    }

}
@media (min-width: 992px){
    .modal-form .modal-dialog{
        max-width: 723px;
    }
}
@media (min-width: 991px){
    .collapse:not(.show) {
        display: inline-block;
    }
}

@media (min-width: 1300px){
    .section_content_wrapper .row {
        width: 1200px;
		margin: auto;
    }
	.inner_items_wrapper {
    	display: flex;
	}
}
@media (min-width: 745px){
	.hero h1 {
		font-size: 150px!important;
	}
}
@media (max-width: 745px){
	.hero {
		min-height: 400px!important;
	}
}
@media (max-width: 1745px){
    .cars_section .car_info .content_value{
        font-size: 14px;
        width: 47%;
        padding-left: 3px;
    }
    .cars_section .car_info label{
        font-size: 14px;
        width: 47%;
    }
    .cars_section .post_inner .button a{
        font-size: 16px;
    }
}
@media (max-width: 1730px){
    .hero .hero_side_cover .eagle img{
        left: -83%;
    }
    .hero .hero_side_cover .hero_side_cover_wrapper{
        width: 72%;
    }
    .how_we_can_help .tab_effect_lines{
        right: -207px !important;
        top: -110px;
    }
    .how_we_can_help .content_inner .background .image{
        width: 162%;
    }
    .our_team .team_slider{
        max-width: 80%;
        margin-left: 10%;
    }
    .our_team .background .image{
        width: 175%;
    }
    .our_team .background_wrapper:before{
        bottom: -13px;
        right: -13px;
    }
    .hero.inside .hero_side_cover {
        width: 73%;
    }
    .join_our_team.auction_alerts .our_team_image {
        width: 60%;
    }
    .join_our_team.auction_alerts .our_team_image .our_team_image_wrapper img {
        width: 135%;
    }
}
@media (max-width: 1691px){
    .hero.inside h1 {
        font-size: 140px;
    }
}
@media (max-width: 1615px){
    .hero h1{
        font-size: 160px;
    }
}
@media (max-width: 1686px){
    .header__nav ul#menu-main-menu>li {
        margin-right: 20px;
    }
}
@media (max-width: 1580px){
    .header__nav ul#menu-main-menu>li {
        margin-right: 15px;
    }
    .hero .hero_side_cover .hero_side_cover_wrapper {
        width: 80%;
    }
    .hero .hero_side_cover .eagle img {
        left: -72%;
    }
    .how_we_can_help .tab_effect_lines {
        right: -26.7%;
    }
    .how_we_can_help .content_inner_wrapper{
        padding-left: 120px;
    }
    .cars_section .articles_wrapper .featured_post{
        width: 100%;
        height: 200px;
        position: relative;
        float: none;
    }
    .cars_section .articles_wrapper .content{
        width: 100%;
        margin-left: 0;
    }
    .cars_section .section__layer h2{
        max-width: 100%;
    }
}
@media (max-width: 1549px){
    .modal-bio .modal-content .background .image_wrapper{
        left: -37%;
    }
    .modal-bio .modal-content .background .lines{
        right: 27%;
    }
    .modal-bio .modal-content .content_wrapper {
        padding-left: 47%;
    }

    /* .section-gallery__slider .swiper-wrapper img {        
        width: 164%;
        height: 112%;
        left: -28%;
    } */
}
@media (max-width: 1485px){
    .hero.inside h1 {
        font-size: 120px;
    }
}
@media (max-width: 1470px){
    .header__nav ul li a .link__icon{
        margin-right: 0px;
    }
    .header__nav .header__logo{
        margin-right: 15px;
    }
    .how_we_can_help .tab_effect_lines {
        right: -34%;
    }
    /*.service_area .section__layer{
        padding: 40px 0 40px;
    }*/
    .service_area .section_title {
        margin-bottom: 30px;
    }
    .service_area .section__layer .contact_map{
        max-width: 500px;
    }

    .hero.inside .hero_side_cover {
        width: 82%;
    }
    .who_we_are .item .line_effect{
        right: -114px;
    }
}

@media (max-width: 1670px){
    .header__nav .login {
        display: none;
    }
}

@media (max-width: 1450px){
    .header__nav .button{
        display: none;
    }
    .header__nav .phone_number .phones_wrapper{
        left: auto;
        right: -8px;
    }

    /*.header__nav .phone_number.button {*/
    /*    display: inline-block;*/
    /*}*/

    .hero .play_button .js-video-play{
        max-width: 100%;
        margin-left: 0;
    }
    .hero .play_button .js-video-play svg{
        max-width: 100%;
        height: auto;
    }
    .hero .hero_side_cover .hero_side_cover_wrapper {
        width: 88%;
    }
    .how_we_can_help .content_inner h2{
        font-size: 70px;
    }
    .how_we_can_help .content_inner .background .image {
        width: 192%;
    }
    .join_our_team .our_team_image{
        right: -110px;
    }
    body.page-template-page-careers{
        overflow-x: hidden;
    }
    .careers_single_info .content_wrapper h1{
        font-size: 100px;
    }
    .join_our_team.auction_alerts .our_team_image .our_team_image_wrapper img {
        width: 145%;
    }
}
@media (max-width: 1399px){
    .hero h1 {
        font-size: 120px;
    }
    .hero p{
        font-size: 24px;
    }
    .hero .hero_side_cover .hero_side_cover_wrapper {
        width: 92%;
    }
    .hero .hero_side_cover .eagle img {
        left: -94%;
    }
    .why_patriot_towing .line_effect{
        bottom: 240px;
    }
    .section_title h2{
        font-size: 64px;
    }
    .section_title h2 .small{
        font-size: 32px;
    }
    .service_area .section__layer #map_canvas{
        margin-left: -140px;
    }
}
@media (max-width: 1260px) and (min-width: 991px){
    .header__nav .phone_number{
        display: none;
    }
}
/*@media (max-width: 1399px) and (min-width: 1201px){*/
/*    .header__nav .button:not(.login){*/
/*        display: inline-block;*/
/*    }*/
/*}*/
@media (max-width: 1311px){
    .hero h1 {
        font-size: 100px;
    }
    .service_area .section__layer #map_canvas{
        margin-left: -120px;
        width: 150%;
    }
    .service_area .section__layer .service_map{
        width: 67%;
    }
    .hero.inside h1 {
        font-size: 100px;
    }

    .schedule_a_tow_info .section_content_inner_wrapper .right_cols_wrapper .coll-wrapper{
        padding-left: 20%;
    }
    .schedule_a_tow_info .section_content_inner_wrapper .right_cols_wrapper .item:not(:first-child) .coll-wrapper{
        padding-left: 28%;
    }
    .how_we_can_help .content_inner .background .image {
        width: 200%;
    }
}
@media (max-width: 1200px){
    .header__nav ul li a{
        font-size: 16px;
    }
    .header__nav .phone_number a{
        font-size: 16px;
    }
    /*.hero .hero_content_wrapper {
        padding-top: 120px;
    }*/
    .hero h1 {
        font-size: 110px;
    }
    .hero .play_button .js-video-play{
        margin-top: 0;
    }
    .hero .hero_side_cover .eagle img {
        left: -102%;
    }
    .hero .hero_side_cover .hero_side_cover_wrapper {
        width: 97%;
    }
    .hero .hero_side_cover .hero_side_cover_wrapper:before{
        background-position: right bottom;
        bottom: -1px;
    }
    .hero .hero_side_cover .eagle img {
        left: -32%;
        width: 136%;
    }
    /*.hero .hero_side_cover .bottom_lines {
        right: 273px;
        bottom: -119px;
    }*/
    .how_we_can_help .tab_effect_lines{
        display: none;
    }
    .how_we_can_help .tabs_content_wrapper{
        padding-left: 470px;
        padding-right: 0px;
    }
    .why_patriot_towing .items_wrapper .item{
        width: 32.0%;
        margin-bottom: 30px;
    }
    .why_patriot_towing .section__layer {
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .why_patriot_towing .line_effect.left{
        top: 100px;
        bottom: auto;
    }
    .reviews .section_bg{
        max-width: 60%;
    }
    .reviews .section_bg:before{
        bottom: -30px;
        width: 130%;
        left: 140px;
    }
    #footer .footer_info{
        max-width: 258px;
    }
    #footer .footer_info, #footer ul li a{
        font-size: 16px;
    }
    .hero.inside h1 {
        font-size: 80px;
    }
    .hero.inside h1 .small {
        font-size: 80px;
    }
    .hero.inside p{
        font-size: 18px;
    }
    .hero.inside .hero_content_wrapper{
        /*padding-top: 280px;*/
    }
    .who_we_are .items_wrapper{
        min-height: 360px;
    }
    .who_we_are .content h2{
        font-size: 52px;
    }
    .join_our_team .our_team_image {
        right: -220px;
    }
    .join_our_team .our_team_image .our_team_image_wrapper img{
        width: 140%;
    }
    .modal-bio .modal-content .background{
        position: relative;
    }
    .modal-bio .modal-content .background .image_wrapper{
        transform: none;
        left: 0;
        width: 100%;
    }
    .modal-bio .modal-content .background .image{
        transform: none !important;
        width: 100%;
        height: 200px;
        background-position: center -140px;
    }
    .modal-bio .modal-content .content_wrapper{
        padding-left: 0;
    }
    .modal-bio .modal-content .background{
        width: 100%;
        overflow: visible;
    }
    .modal-bio .modal-content .background .lines{
        right: auto;
        left: 0px;
        bottom: -30%;
        top: auto;
    }
    .modal-bio .modal-content .background .lines{
        max-width: 180px;
    }
    .modal-bio .modal-content .background .lines img{
        max-width: 100%;
    }
    .modal-bio .modal-content .content_inner_wrapper{
        padding: 40px;
    }
    .modal-bio .bio_inner_wrapper{
        overflow: hidden;
    }
    .schedule_a_tow_info .section_content_inner_wrapper .item:not(:first-child) .coll-wrapper{
        padding-left: 0%;
    }
    .careers_single_form .nf-row:not(:last-child) nf-cells .nf-cell{
        width: 50% !important;
    }
    .careers_single_form .nf-row:not(:last-child) nf-cells .nf-cell:last-child{
        margin: 0 auto !important;
        max-width: 480px;
        width: 100% !important;
        float: none;
    }
    .featured_auction_info .content_wrapper h1{
        font-size: 80px;
    }
    .join_our_team.auction_alerts .our_team_image .our_team_image_wrapper img {
        width: 165%;
    }
    .hero .hero_side_cover .hero_side_cover_wrapper .background_effect{
        padding-bottom: 22px;
    }

    .schedule_a_tow_info .section_content_inner_wrapper .right_cols_wrapper .coll-wrapper{
        padding-left: 0;
    }
    .schedule_a_tow_info .section_content_inner_wrapper .right_cols_wrapper .item:not(:first-child) .coll-wrapper{
        padding-left: 0;
    }

    .modal-video .modal-dialog {
        max-width: 708px;
    }
    .modal-video .modal-dialog iframe{
        height: 487px;
    }

    .modal-bio .modal-content .background .lines .for_desktop{
        display: none;
    }
    .modal-bio .modal-content .background .lines .for_mobile{
        display: block;
    }
    .careers_single_form .nf-row:not(:last-child) nf-cells .nf-cell{
        width: 100% !important;
        max-width: 100% !important;
    }
    .hero .hero_side_cover .hero_side_cover_wrapper{
        height: 102.5%;
    }
    .career_opportunities .empty_careers p{
        font-size: 16px;
    }
    #footer .col-wrap .sitemap-link a {
        font-size: 16px;
    }

    .section-gallery .section__layer {
        padding: 130px 0 110px 0;
    }

    .section-gallery__gallery-container {
        height: 332px;
        padding-right: 0;
    }

    .section-gallery__slider .swiper-wrapper img {
        width: calc(100% + (0.58 * 332px * 1.25));
        min-height: 332px;
    }

    .section-gallery__slider-container {
        margin-right: 0;
    }

    .section-gallery__slider-container-thumbs {
        display: none;
    }

    .section-gallery__gallery-container .top_lines {
        transform: translate(61%, 0) skew(30.5deg);
    }

    .section-gallery__slider-container .arrows {
        display: none;
    }

    .section-gallery__main {
        position: relative;
    }

    .section-gallery__main .swiper-nav {
        display: flex;        
        margin: 0;
        align-items: center;
        position: absolute;
        top: calc(100% + 35px);
        left: 50%;
        transform: translate(-50%);
    }

    .modal-slider .slides-main {
        height: calc(100% - 80px);
        height: -webkit-calc(100% - 80px);
        height: -moz-calc(100% - 80px);
        height: calc(100% - 80px);
        max-height: 406px;
        overflow: hidden;
    }

    .modal-slider .slides-main .gallerysection_modal_slider_wrapper {
        height: calc(100vh - 215px);
        max-height: 100%;
    }

    .gallerysection_thumbs_slider {
        max-width: 1500px;
        height: 80px;
    }

    .gallerysection_thumbs_slider_wrapper .swiper-nav button svg {
        width: 40px;
    }

    .section-gallery__slider-container::before {
        display: block;
        content: '';
        position: absolute;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background: rgba(38, 34, 97, 0.3);
        top: 0;
        bottom: -10px;
        left: 0;
        right: -10px;
        z-index: -1;
    }

    .section-gallery::after {
        background-size: cover;
        background-position: center;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .header__nav .button{
        position: absolute;
        right: 0;
        top: -200px;
        transition: all 0.5s ease;
        opacity: 0;
    }
    header.stiky .button:not(.login){
        position: relative;
        top: 0;
        opacity: 1;
    }
    body.overlay-is-navbar-collapse .button{
        position: relative;
        top: 0;
        opacity: 1;
    }
    .header__nav .header__logo{
        transition: all 0.5s ease;
    }
    body.overlay-is-navbar-collapse .header__logo{
        top: -200px;
        position: absolute;
    }
    body.overlay-is-navbar-collapse .navbar-toggler{
        padding: 14px 0;
    }
}
@media (max-width: 991px){
    .header__nav .phone_number{
        padding: 12px 0px;
        margin-right: 0;
    }
    .header_right_elements{
        padding-right: 20px;
    }
    .header .navbar-toggler{
        display: inline-block;
        position: relative;
        margin-right: 25px;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-collapse{
        position: fixed;
        left: 0;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: -1;
        padding-top: 75px;
        background: rgba(13, 13, 13, 0.8);
        backdrop-filter: blur(20px);
        /*overflow-y: auto;
        overflow-x: hidden;*/
    }
    .header__desktop{
        padding: 10px 0;
    }
    .navbar-collapse .navbar-collapse-inner{
        padding-top: 41px;
        max-width: 100%;
        margin: 0 auto;
        padding-left: 77px;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 100%;
        padding-right: 77px;
    }
    .header__nav ul#menu-main-menu>li{
        float: left;
        clear: both;
        margin-bottom: 20px;
    }
    .header__nav ul#menu-main-menu>li>a{
        font-family: American Captain;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 100%;
        color: rgba(255, 255, 255, 0.9);
        text-shadow: 0px 0px 40px #29235C;
        padding: 0;
    }
    .header__nav ul#menu-main-menu>li>a>.menu_link_title:after{
        background: #B4202A;
    }
    .header__nav ul#menu-main-menu li:hover>a,
    .header__nav ul#menu-main-menu li.current-menu-item>a,
    .header__nav ul#menu-main-menu>li.current-menu-ancestor>a,
    .header__nav ul#menu-main-menu>li>a:hover{
        color: #B4202A;
    }
    .header__nav ul li .sub-menu li{
        float: left;
        clear: both;
    }
    .header__nav ul li .sub-menu li a{
        font-family: American Captain;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 100%;
        color: rgba(255, 255, 255, 0.7);
        text-shadow: 0px 0px 40px #29235C;
        white-space: normal;
    }
    .header__nav ul li .sub-menu li a:before{
        background: #B4202A;
    }
    .header__nav ul li .sub-menu li a:hover{
        color: #B4202A;
    }
    .header__nav ul li .sub-menu{
        position: static;
        background: none;
        backdrop-filter: none;
        opacity: 1;
        visibility: visible;
        padding: 10px 0 0;
    }
    .header__nav ul li .sub-menu:before,
    .header__nav ul li .sub-menu:after{
        display: none;
    }
    .header__nav .button{
        display: inline-block;
    }
    .header__nav ul li .sub-menu li {
        padding: 7px 27px;
    }
    .header__nav ul li .sub-menu li:last-child{
        padding-bottom: 0;
    }
    .hero .hero_side_cover .bottom_lines{
        display: none;
    }
    .hero .play_button{
        text-align: center;
    }
    .hero .hero_content_wrapper {
        padding-top: 200px;
    }
    .hero .hero_bottom_image {
        margin-top: 30px;
        margin-left: 0px;
        margin-bottom: -20px;
    }
    .hero .hero_side_cover .hero_side_cover_wrapper{
        height: 63%;
        width: 64%;
    }
    .hero .play_button .js-video-play {
        max-width: 340px;
        margin-left: 20px;
    }
    .container, .container-sm, .container-md {
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }
    .how_we_can_help .content_inner h2 {
        font-size: 40px;
    }
    .how_we_can_help .arrows{
        display: none;
    }
    .how_we_can_help .content_inner .background{
        width: 120%;
        left: 80px;
    }
    .how_we_can_help .tabs_wrapper .tab{
        font-size: 24px;
    }
    .how_we_can_help .tabs_content_wrapper {
        padding-left: 340px;
        padding-right: 0;
    }
    .how_we_can_help .tabs_wrapper{
        padding: 30px 10px;
    }
    .how_we_can_help .tabs_wrapper .tab{
        margin-bottom: 13px;
    }
    .our_team .background .image {
        width: 200%;
    }
    .service_area .section__layer .service_map{
        width: 100%;
        position: static;
    }
    .service_area .service_map_wrapper .service_map_inner_wrapper{
        transform: none;
        width: 100%;
        height: 643px;
        left: 0;
    }
    .service_area .section__layer #map_canvas{
        width: 100%;
        margin-left: 0;
        transform: none;
    }
    .service_area .service_map_wrapper:before{
        display: none;
    }
    .service_area .service_map_wrapper{
        height: 100%;
    }
    .service_area .section__layer .contact_map {
        max-width: 100%;
    }
    .service_area .contact_map .loaction br{
        display: none;
    }
    .service_area .section_layer_inner_wrapper{
        background: none;
        overflow: hidden;
        margin-bottom: -220px;
        z-index: 1;
    }
    .service_area .section_layer_inner_wrapper:before{
        background: #0F0D26;
        width: 120%;
        height: 100%;
        content: '';
        display: block;
        bottom: -27px;
        right: 0px;
        transform: skew(-31deg);
        -ms-transform: skew(-30deg);
        position: absolute;
        z-index: -1;
    }
    .service_area .section_layer_inner_wrapper:after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -72%;
        transform: skew(-31deg);
        background-image: url(../images/map_background-min.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 170%;
        height: 95%;
    }
    .service_area .section__layer{
        padding-bottom: 0;
    }
    .service_area .section_layer_inner_wrapper>div{
        position: relative;
        z-index: 2;
    }
    .footer.section{
        padding-top: 60px;
    }
    #footer .row{
        position: relative;
        padding-right: 33.33%;
        display: block;
    }
    #footer .row:after{
        display: block;
        clear: both;
        content: '';
    }
    #footer .row .col{
        width: 50%;
        float: left;
        max-width: 50%;
        margin-bottom: 30px;
    }
    #footer .row .col:nth-child(2n+1){
        clear: both;
    }
    #footer .row .col:last-child{
        position: absolute;
        top: 0;
        right: 0;
        max-width: 33.33%;
        width: 33.33%;
    }
    .navbar_cover{
        display: block;
    }
    body.overlay-is-navbar-collapse{
        overflow: hidden;
    }
    body.overlay-is-navbar-collapse header.header .header__desktop {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse-inner .buttons_wrapper{
        display: none;
        text-align: center;
        margin: 20px 0 40px;
    }
    .navbar-collapse-inner .mobile.button{
        display: inline-block !important;
        margin: 0 10px;
    }
    .header__nav ul li a .link__icon{
        display: none;
    }
    .modal-content .close{
        right: 0;
        top: -47px;
    }
    .who_we_are .section__layer{
        padding-top: 50px;
    }
    .join_our_team{
        background: none;
        padding-bottom: 20px;
    }
    .join_our_team .section__layer{
        position: relative;
        padding-top: 97px;
        padding-bottom: 97px;
        background-image: url(../images/map_background-min.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .join_our_team .our_team_image .our_team_image_inner_wrapper{
        left: 157px;
    }
    .join_our_team .our_team_image .our_team_image_wrapper img {
        width: 160%;
    }
    .join_our_team .our_team_image .effect .effect_inner{
        left: 155px;
    }
    .join_our_team .our_team_image{
        width: 70%;
    }
    .modal-bio .modal-content h2{
        font-size: 64px;
    }
    .modal-bio .modal-content p{
        font-size: 18px;
    }
    .modal-bio .modal-dialog{
        max-width: 100%;
        padding: 30px;
    }
    .schedule_a_tow .line_effect{
        display: none;
    }
    .schedule_a_tow .section__layer{
        padding-top: 50px;
    }
    .schedule_a_tow_info .col-title{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .schedule_a_tow_info .section_content_inner_wrapper a,
    .schedule_a_tow_info .loaction{
        font-size: 20px;
        margin-bottom: 16px;
    }
    .schedule_a_tow_info .col-title svg{
        width: 60px;
    }
    .schedule_a_tow_info .section__layer{
        padding-top: 160px;
    }
    .schedule_a_tow .section_eagle{
        text-align: right;
    }
    .schedule_a_tow .section_eagle img{
        max-width: 90%;
    }
    .career_opportunities .qualifications{
        display: none;
    }
    .career_opportunities .job_title{
        width: 38.2%;
    }
    .career_opportunities .locations{
        width: 38.2%;
    }
    .small_hero .lines_effect{
        display: none;
    }
    .small_hero{
        height: 469px;
    }
    .small_hero .background{
        background-position: center;
    }
    .careers_single_info .section__layer{
        padding-top: 50px;
    }
    body .nf-form-content .list-wrap:not(.list-select-wrap) .nf-field-label label{
        font-size: 20px !important;
    }
    body .nf-form-content .html-wrap h2{
        font-size: 20px !important;
    }
    .modal-form .modal-dialog .nf-form-title h3{
        font-size: 62px;
    }
    .modal-form .modal-dialog .nf-form-title{
        padding: 30px 20px 20px;
    }
    body .modal-form .nf-form-wrap {
        padding-bottom: 115px;
    }
    body .modal-body .nf-response-msg .background .image_wrapper .image{
        width: 152%;
    }
    body .modal-body .nf-response-msg .background .image_wrapper{
        left: -52%;
    }
    body.error404 .hero.inside_pages h1{
        font-size: 280px;
    }
    body.error404 .hero.inside_pages h2{
        font-size: 18px;
    }
    .featured_auction_info .section__layer{
        padding-top: 40px;
    }
    .cars_section .post_inner .button a {
        padding: 6px 20px 6px 27px;
    }
    .join_our_team.auction_alerts .our_team_image {
        width: 70%;
        z-index: -1;
    }
    .join_our_team.auction_alerts .our_team_image .our_team_image_inner_wrapper {
        left: 165px;
    }
    .join_our_team.auction_alerts .our_team_image .effect .effect_inner {
        left: 155px;
    }
    .join_our_team .section__layer .join_our_team_content_wrapper {
        max-width: 430px;
    }
    body .join_our_team .submit-container .submit-wrap{
        text-align: left !important;
    }
    .header.stiky .navbar-toggler{
        padding: 17px 0px;
    }
    .hero .hero_side_cover .hero_side_cover_wrapper .background_effect:after{
        left: -177px;
    }
    .hero .hero_side_cover .hero_side_cover_wrapper .background_effect .background_effect_inner:before{
        left: -197px;
    }
    .hero.inside .hero_content_wrapper .row{
        align-items: unset;
        height: auto;
    }
    .hero.inside .hero_content_wrapper {
        padding-top: 200px;
    }
    body .modal-body .nf-response-msg .message_wrapper {
        padding: 63px 0 44px;
    }
    .modal-form .modal-dialog{
        max-width: 645px;
    }
    body .modal-body .nf-response-msg .background{
        width: 60%;
    }
    body .modal-body .nf-response-msg .background .image_wrapper {
        left: -50%;
    }
    body .modal-body .nf-response-msg .background .image_wrapper .image{
        background-position: 80px center;
    }
    body .modal-body .nf-response-msg .background .lines{
        right: 47%;
    }
    .how_we_can_help .content_inner .background .image {
        width: 162%;
    }
    .hero .hero_side_cover .top_lines{
        max-width: 154px;
        right: -5px;
    }
    .hero .hero_side_cover .top_lines img{
        max-width: 100%;
    }

    body.page-template-page-about {
        overflow-x: visible;
    }
    .who_we_are .item{
        margin-bottom: 20px;
    }
    .who_we_are .item:last-child{
        margin-bottom: 0;
    }
    .who_we_are .items_wrapper .background:before{
        left: -30px !important;
        bottom: -20px !important;
        right: auto !important;
    }
    .who_we_are .items_wrapper .background{
        max-width: 68%;
    }
    .who_we_are .item .line_effect{
        right: auto;
        left: 63%;
    }
    .page-template-page-about .our_team .section__layer {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .who_we_are .items_wrapper .background{
        right: auto;
        left: 300px;
    }
    .who_we_are .item:last-child .items_wrapper .background{
        left: 79px;
    }
    .our_team .swiper-pagination{
        display: inline-block;
    }
    .our_team .swiper-button-prev, .our_team .swiper-button-next{
        position: static;
        margin-bottom: 0;
    }
    .our_team .swiper-nav button svg{
        width: 40px;
    }
    .why_patriot_towing .line_effect img{
        width: 100%;
    }
    .why_patriot_towing .line_effect{
        width: 154px;
    }
    .why_patriot_towing .line_effect.right{
        width: 130px;
    }
    body .nf-form-content select, body .nf-form-content textarea, body .nf-form-content input{
        font-size: 18px !important;
        padding: 13px 20px !important;
    }
    .featured_auction_info .featured_auction_content_info .info{
        font-size: 20px;
    }
    .featured_auction_info .featured_auction_content_info .info svg{
        top: -10px;
        width: 36px;
    }
    .cars_section .post_inner .button_wrapper{
        text-align: center;
    }
    #menu-footer-menu-1 li .sub-menu li,
    #menu-footer-menu li .sub-menu li {
        padding: 3px 25px;
    }
    #menu-footer-menu-1 li .sub-menu, #menu-footer-menu li .sub-menu{
        min-width: 328px;
    }
    #menu-footer-menu-1>li:nth-child(3) .sub-menu, #menu-footer-menu>li:nth-child(3) .sub-menu{
        min-width: 165px;
    }
    .photogaller_thumbs_slider_wrapper .swiper-nav button svg{
        width: 50px;
    }
    .photogaller_thumbs_slider_wrapper .swiper-nav button{
        top: 48px;
    }
    .photogaller_thumbs_slider_wrapper .swiper-nav button{
        padding: 0 6px;
    }
    .featured_auction_info.no_posts{
        padding-bottom: 20px;
    }
    .hero.hero-in-memory.inside .description {
        max-width: 50%;
    }
    .hero.hero-in-memory .section__layer:before {
        background: linear-gradient(180deg, #0F0D26 0%, rgba(15, 13, 38, 0.776042) 27.38%, rgba(15, 13, 38, 0) 79%);
    }
    .text-sect-in-memory__wrap {
        padding:0 30px;
    }
    .text-sect-in-memory {
        padding-top: 70px;
        padding-bottom: 0;
    }
    .text-sect-in-memory__wrap{
        font-size: 18px;
        line-height: 150%;
    }
    .hero.hero-in-memory.inside .description {
        max-width: 55%;
    }
    .text-sect-in-memory:before { 
        margin-top: -15vh;
        height: 100vh;
        background-position: top center;
        background-image: url('../images/bg_text_inmemory_tablet.png');
    }

    #gallery_page_modal_slider .close {
        right: 15px;
        top: -30px;
    }
}
@media (max-width: 767px){
    .hero h1 {
        font-size: 80px;
    }
    .hero p{
        font-size: 20px;
        margin-bottom: 40px;
    }
    .hero .hero_side_cover .hero_side_cover_wrapper{
        height: 49% !important;
    }
    .hero.height_is_changed .hero_side_cover .hero_side_cover_wrapper{
        height: 65% !important;
    }
    .hero .hero_side_cover .eagle{
        top: 20px;
    }
    .hero .hero_side_cover .eagle img {
        left: -62%;
        width: 166%;
    }
    .how_we_can_help .content_inner_wrapper {
        padding-left: 20px;
        padding-right: 0;
        padding-bottom: 50px;
        vertical-align: bottom;
    }
    .how_we_can_help .content_inner h2{
        margin-top: 0;
    }
    .section_title h2{
        font-size: 64px;
    }
    .section_title h2 .small{
        font-size: 32px;
    }
    .how_we_can_help .content_inner .background {
        width: 150%;
        left: 10px;
    }
    .how_we_can_help .section__layer {
        padding-top: 40px;
    }
    .how_we_can_help .section_eagle img{
        max-width: 100%;
    }
    .why_patriot_towing .line_effect{
        max-width: 150px;
    }
    .why_patriot_towing .line_effect img{
        max-width: 100%;
    }
    .why_patriot_towing .section__layer {
        position: relative;
        padding-top: 60px;
        padding-bottom: 40px !important
    }
    .why_patriot_towing .items_wrapper .item h3{
        font-size: 28px;
    }
    .why_patriot_towing .section_eagle img{
        max-width: 1800px;
    }
    .reviews .section__layer{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .reviews .section_bg {
        max-width: 75%;
    }
    .reviews .section_bg img{
        max-height: 580px;
    }
    .swiper-nav{
        margin-top: 30px;
    }
    .reviews .section_bg:before {
        bottom: -20px;
        left: 135px;
    }
    .our_team .background_wrapper{
        height: 250px;
    }
    .our_team .section_content_wrapper:after{
        height: 120px;
        top: 39%;
    }
    .our_team .member_info_wrapper h4{
        font-size: 24px;
    }
    .our_team .section__layer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .service_area .section_layer_inner_wrapper{
        padding: 40px 0;
    }
    #copyright .copyright, #copyright .developed{
        text-align: center;
        display: block;
    }
    #copyright .developed a{
        margin-left: 0;
        display: block;
        margin-top: 10px;
    }
    #copyright .developed{
        float: none;
        margin-top: 20px;
    }
    .header__nav .button:not(.login) {
        display: none;
    }
    .hero.inside h1 {
        font-size: 50px;
        text-align: left;
        max-width: 100%;
    }
    .hero.inside h1 .small {
        font-size: 40px;
    }
    .hero.inside p{
        font-size: 14px;
        text-align: left;
    }
    .hero.inside .hero_content_wrapper .col-md-8{
        text-align: left;
    }
    .hero.inside .hero_content_wrapper{
        padding-bottom: 140px;
        min-height: 690px;
        height: auto;
    }
    .who_we_are{
        overflow: hidden;
        padding-bottom: 20px;
    }
    .hero.inside{
        overflow: hidden;
    }

    .join_our_team .section__layer p{
        font-size: 16px;
    }
    .join_our_team .our_team_image{
        position: relative;
        width: 100%;
        right: 0;
        top: 0;
        transform: none;
        margin-top: 50px;

    }
    .join_our_team .our_team_image .our_team_image_wrapper img{
        position: static;
        transform: none;
        max-width: 100%;
    }
    .join_our_team .our_team_image .our_team_image_inner_wrapper{
        transform: none;
        left: auto;
    }
    .join_our_team .section__layer{
        padding-bottom: 0;
    }
    .join_our_team .our_team_image .effect{
        left: 0;
    }
    .join_our_team .our_team_image .effect .effect_inner{
        transform: none;
        left: 0;
    }
    .join_our_team .section__layer{
        padding-top: 40px;
    }
    .hero h2{
        font-size: 32px;
    }
    .page-template-page-schedule-tow .hero.inside .description{
        margin-bottom: 30px;
    }
    body .nf-form-content select, body .nf-form-content textarea, body .nf-form-content input{
        font-size: 18px;
    }
    .schedule_a_tow_info .item{
        margin-bottom: 30px;
    }

    .career_opportunities .job_title{
        width: 35.5%;
    }
    .career_opportunities .locations{
        width: 35.5%;
    }
    .career_opportunities .locations,
    .career_opportunities .job_title{
        font-size: 18px;
    }
    .careers_single_info .content_wrapper .content p{
        font-size: 18px;
    }
    .careers_single_info .lists_wrapper h2{
        font-size: 32px;
    }
    .careers_single_info .content_wrapper .content{
        margin-bottom: 30px;
    }
    .careers_single_info .lists_wrapper li{
        font-size: 18px;
    }
    .careers_single_info .content_wrapper h1{
        font-size: 80px;
    }
    body .nf-form-content label{
        font-size: 14px !important;
    }
    body .nf-form-content select, body .nf-form-content textarea, body .nf-form-content input{
        font-size: 18px !important;
        padding: 12px 20px !important;
    }
    .careers_single_form .nf-row:not(:last-child) nf-cells .nf-cell:last-child{
        /*max-width: 546px !important;*/
        margin: 0 auto !important;
        float: none;
        width: 100% !important;
    }
    .careers_single_form .careers_single_form_wrapper>h2{
        display: none !important;
    }
    .careers_single_form{
        padding-bottom: 94px;
        padding-top: 40px;
    }
    .careers_single_form .careers_single_form_wrapper {
        padding-top: 0px;
    }
    .modal-form .modal-dialog .nf-form-title h3{
        font-size: 40px;
    }
    body .nf-form-content label{
        font-size: 14px;
    }
    body .nf-form-content select, body .nf-form-content textarea, body .nf-form-content input{
        font-size: 18px !important;
        padding: 11px 20px !important;
    }
    .modal-form .modal-dialog .nf-form-title h3:before{
        width: 105px;
        height: 18px;
    }
    .featured_auction_info .featured_auction_content_info .info{
        font-size: 20px;
    }
    .featured_auction_info .featured_auction_content_info .info svg{
        width: 36px;
        height: auto;
        top: -9px;
    }
    .featured_auction_info .content_wrapper h1 {
        font-size: 90px;
    }
    .cars_section .section__layer {
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .join_our_team.auction_alerts .our_team_image{
        width: 100%;
        z-index: -1;
        left: 0;
    }
    .join_our_team.auction_alerts .our_team_image .our_team_image_inner_wrapper{
        left: 0;
    }
    .join_our_team.auction_alerts .our_team_image .effect .effect_inner{
        left: 0;
    }
    .join_our_team.auction_alerts .section__layer{
        padding-bottom: 0;
    }
    .hero .hero_side_cover .top_lines{
        right: 39px;
    }

    body .nf-form-content select, body .nf-form-content textarea, body .nf-form-content input{
        font-size: 16px !important;
        padding: 9px 12px !important;
    }
    .hero.inside .show_more_wrapper{
        font-size: 18px;
    }

    .vote_button span span{
        display: none;
    }
    .hero.hero-in-memory .hero_side_cover .hero_side_cover_wrapper {
        height: 90% !important;
    }
    .hero.hero-in-memory.inside h1 {
        font-size: 80px;
    }
    .hero.hero-in-memory.inside .description {
        max-width: 60%;
    }

    .section-gallery .section__layer {
        padding: 90px 0 130px 0;
    }

    .section-gallery__gallery-container {
        height: 266px;
        padding-right: 0;
    }

    .section-gallery__slider .swiper-wrapper img {
        width: calc(100% + (0.58 * 266px * 1.25));
        min-height: 266px;
    }

    .section-gallery__slider-container {
        margin-right: 0;
    }

    .section-gallery__slider-container-thumbs {
        display: none;
    }

    .section-gallery__slider-container .arrows {
        display: none;
    }

    .section-gallery__main .swiper-nav {
        display: flex;        
        margin: 0;
        align-items: center;
        position: absolute;
        top: calc(100% + 30px);
        left: 50%;
    }
}
@media (max-width: 630px){
    .section_title h2{
        font-size: 44px;
    }
    .how_we_can_help .tabs_wrapper{
        display: none;
    }
    .how_we_can_help .mobile_tab{
        display: block;
        font-family: American Captain;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 100%;
        color: rgba(255, 255, 255, 0.7);
        text-shadow: 0px 0px 40px #29235C;
        cursor: pointer;
        margin: 0 -25px;
        padding: 5px 25px;
        transition: all 0.5s ease;
        position: relative;
    }
    .how_we_can_help .mobile_tab svg{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        transition: all 0.5s ease;
    }
    .how_we_can_help .mobile_tab:hover,
    .how_we_can_help .mobile_tab.active{
        background: #B4202A;
        color: #fff;
    }
    .how_we_can_help .mobile_tab:hover svg,
    .how_we_can_help .mobile_tab.active svg{
        transform: translateY(-50%) rotate(180deg);

    }
    .how_we_can_help .mobile_tab svg path{
        transition: all 0.5s ease;
    }
    .how_we_can_help .mobile_tab:hover svg path,
    .how_we_can_help .mobile_tab.active svg path{
        fill: #fff;
    }
    .how_we_can_help .tab_content{
        position: static;
        visibility: visible;
        opacity: 1;
    }
    .how_we_can_help .tab_content .content_inner{
        overflow: hidden;
        height: 0;
        display: block;
        margin: 0 -25px;
        width: auto;
        transition: all 0.5s ease;
    }
    .how_we_can_help .tab_content .content_inner_wrapper{
        padding: 80px 25px;
    }
    .how_we_can_help .content_inner h2{
        font-size: 32px;
        line-height: 100%;
    }
    .how_we_can_help .tab_content.active .content_inner{
        height: auto;
    }
    .how_we_can_help .tabs_content_wrapper{
        position: static;
        padding-left: 0;
    }
    .how_we_can_help .content_inner .background {
        width: 106%;
        left: -79px;
    }
    .how_we_can_help .content_inner .background .image:before{
        background: linear-gradient(270deg, rgba(15, 13, 38, 0) -63.62%, rgba(15, 13, 38, 0.497932) 11.96%,
            rgba(15, 13, 38, 0.943605) 108.75%, #0F0D26 140.33%)

    }
    .how_we_can_help .tab_content{
        margin-bottom: 15px;
    }
    .how_we_can_help .tab_content:last-child{
        margin-bottom: 0;
    }
    .how_we_can_help .section_content_wrapper{
        padding: 20px 0;
    }
    .how_we_can_help .content_inner .background .image {
        width: 112%;
    }
    .how_we_can_help .content_inner .background .image:before{
        left: 0;
    }
    .how_we_can_help .content_inner .background:before{
        right: -5px;
        left: auto;
    }
    .how_we_can_help .content_inner .image_wrapper{
        height: 93%;
    }
    .why_patriot_towing .section_title{
        margin-bottom: 30px;
    }
    .reviews .section__layer .section_title {
        margin-bottom: 30px;
    }
    .reviews .review-block .review_block_title h4{
        font-size: 28px;
    }
    .our_team .background_wrapper {
        height: 230px;
    }
    .our_team .team_member a{
        display: block;
        max-width: 200px;
        margin: 0 auto;
        position: relative;
    }
    .our_team .background .image {
        width: 160%;
    }
    .our_team .member_info_wrapper h4 {
        font-size: 20px;
    }
    .our_team .member_info_wrapper p{
        font-size: 14px;
    }
    .our_team .member_info{
        padding-left: 20px;
    }
    .service_area .section_layer_inner_wrapper:before{
        transform: none;
        -ms-transform: none;
        width: 100%;
    }
    .service_area .section_layer_inner_wrapper:after{
        transform: none;
        -ms-transform: none;
        left: 0;
        width: 100%;
    }
    .service_area .button{
        display: none;
    }
    .service_area .contact_map .contact_info.mail{
        margin-bottom: 0;
    }
    .service_area .section__layer .contact_map{
        margin-bottom: 20px;
    }
    .service_area .section__layer .contact_map{
        font-size: 16px;
    }

    #footer .row{
        padding-right: 0;
    }
    #footer .row .col{
        width: 100%;
        float: left;
        max-width: 100%;
        margin-bottom: 20px;
    }
    #footer .row .col:nth-child(2n+1){
        clear: both;
    }
    #footer .row .col:first-child{
        padding-right: 50%;
    }
    #footer .row .col:last-child{
        position: absolute;
        top: 0;
        right: 0;
        max-width: 50%;
        width: 50%;
    }
    #footer .footer_info .label br{
        display: none;
    }
    #footer .col-title{
        font-size: 28px;
    }
    #footer{
        padding-bottom: 5px;
    }
    .navbar_cover .top_lines,
    .navbar_cover .eagle{
        display: none;
    }

    .navbar_cover{
        display: none;
    }
    .navbar_cover .navbar_cover_wrapper{
        width: 100%;
    }
    .navbar_cover .navbar_cover_wrapper:before{
        z-index: 0;
        display: none;
    }
    .navbar-collapse{
        background-color: #0F0D26;
        background-image: url("../images/map_background-min.png");
        background-size: cover;
    }
    .navbar-collapse .navbar-collapse-inner{
        padding-left: 27px;
        padding-right: 27px;
    }
    .header__nav ul#menu-main-menu>li>a{
        font-size: 32px;
    }
    .header__nav ul li .sub-menu li a{
        font-size: 24px;

    }
    .header__nav ul#menu-main-menu{
        max-width: 100%;
    }
    .navbar-collapse-inner .mobile.button{
        margin-bottom: 30px !important;
    }
    .navbar-collapse-inner .mobile.button:last-child{
        margin-bottom: 0px;
    }
    .who_we_are .item .line_effect{
        display: none;
    }
    .who_we_are .items_wrapper .background .image_wrapper{
        width: 150%;
    }
    .who_we_are .items_wrapper .background:before{
        width: 150%;
    }
    .who_we_are .item:last-child .items_wrapper .background{
        left: -145px;
    }
    .who_we_are .content h2 {
        font-size: 32px;
    }
    .who_we_are .content p{
        font-size: 16px;
    }
    .section .button a {
        font-size: 14px;
    }
    .modal-bio .modal-content h2 {
        font-size: 32px;
    }
    .modal-bio .modal-content p{
        font-size: 14px;
    }
    .modal-bio .modal-content .background .image{
        height: 140px;
    }
    .modal-bio .modal-content .content_inner_wrapper {
        padding: 20px;
    }
    body .nf-form-content select, body .nf-form-content textarea, body .nf-form-content input{
        font-size: 16px !important;
    }
    .schedule_a_tow_info .col-title{
        font-size: 36px;
    }
    .schedule_a_tow_info .loaction p br{
        display: none;
    }
    .schedule_a_tow_info .section_content_inner_wrapper a, .schedule_a_tow_info .loaction{
        font-size: 18px;
    }
    .schedule_a_tow_info .col-title svg {
        width: 48px;
    }
    .career_opportunities .item:first-child{
        display: none;
    }
    .career_opportunities .cols_wrapper>div{
        float: none !important;
        width: 100% !important;
    }

    .career_opportunities .locations{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .career_opportunities .job_title{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .career_opportunities .page_link{
        padding-top: 0 !important;
    }
    .career_opportunities .page_link a{
        font-size: 16px;
    }
    .career_opportunities .items_wrapper{
        padding: 0;
    }
    .career_opportunities .cols_wrapper>div{
        padding: 0;
    }
    .career_opportunities .item:last-child{
        border-bottom: 0 !important;
    }
    .career_opportunities .item{
        padding: 30px 0 !important;
        margin-bottom: 0;
    }
    .careers_single_info .content_wrapper h1{
        font-size: 50px;
    }
    .careers_single_info .content_wrapper .content p {
        font-size: 14px;
    }
    .careers_single_info .lists_wrapper h2{
        font-size: 24px;
    }
    .careers_single_info .lists_wrapper li {
        font-size: 14px;
    }
    .careers_single_info .lists_wrapper li:before{
        top: 8px;
    }
    .careers_single_form .nf-row:not(:last-child) nf-cells .nf-cell:last-child,
    .careers_single_form .nf-row:not(:last-child) nf-cells .nf-cell{
        width: 100% !important;
        max-width: 100% !important;
        float: none !important;
    }
    .careers_single_form nf-rows-wrap .nf-row:not(:last-child){
        padding-top: 0 !important;
    }
    .careers_single_form .careers_single_form_wrapper{
        padding-top: 40px;
    }
    body .nf-form-content label {
        font-size: 12px !important;
    }
    body .nf-form-content .list-wrap:not(.list-select-wrap){
        padding-top: 0 !important;
    }
    body .listradio-wrap .nf-field-element label:before{
        width: 13px !important;
        height: 13px !important;
    }
    body .nf-form-content .list-wrap .nf-field-element label{
        font-size: 18px !important;
    }
    body .nf-form-content .file_upload-container label{
        float: none;
        margin-bottom: 15px;
    }
    body .nf-form-content .file_upload-wrap .nf-field-element{
        float: none;
        padding-right: 0 !important;
    }
    body .nf-form-content .file_upload-container .ninja-forms-field{
        position: static !important;
        transform: skew(-30deg) translateY(0);
        -ms-transform: skew(-30deg) translateY(0);
    }
    body .nf-form-content .file_upload-wrap .files_uploaded{
        display: block;
    }
    body .nf-form-content .file_upload-wrap .files_uploaded p{
        overflow: visible;
        width: 100%;
        white-space: normal;
        text-align: left;
        margin-top: 20px;
    }
    body .nf-form-content .file_upload-wrap{
        padding: 0;
    }
    body .submit-container .submit-wrap .nf-field-element input{
        font-size: 14px !important;
    }
    body .nf-form-content .file_upload-container .ninja-forms-field{
        font-size: 14px;
    }
    body .nf-form-content .list-wrap:not(.list-select-wrap) .nf-field-label label {
        font-size: 18px !important;
    }
    body .nf-form-content .html-wrap {
        padding-top: 0px;
    }
    .header .navbar-toggler {
        margin-right: 10px;
    }
    .header.stiky .navbar-toggler {
        padding: 17px 0px;
    }
    .small_hero {
        height: 250px;
    }
    body .modal-body .nf-response-msg .background .image_wrapper{
        transform: none;
        left: 0;
        background-position: center;
    }
    body .modal-body .nf-response-msg .background .image_wrapper .image{
        transform: none;
        width: 100%;
        background-position: center;
    }
    body .modal-body .nf-response-msg .background{
        width: 100%;
        position: relative;
        height: 93px;
    }
    body .modal-body .nf-response-msg .message_wrapper{
        padding-top: 0;
    }
    body .modal-body .nf-response-msg{
        padding: 0;
    }
    body .modal-body .nf-response-msg .background .lines{
        display: none;
    }
    body .modal-body .nf-response-msg .button_wrapper .button_inner_wrapper,
    body .modal-body .nf-response-msg .content_wrapper .content_inner_wrapper {
        padding: 15px 20px;
    }
    body .modal-body .nf-response-msg .button_wrapper .button_inner_wrapper{
        text-align: center;
    }
    body .modal-body .nf-response-msg .button_wrapper .button_inner_wrapper .button {
        margin-left: 0px;
    }
    body .modal-body .nf-response-msg .message_wrapper{
        padding: 0;
    }
    body .modal-body .nf-response-msg .content_wrapper{
        margin-right: 0px;
    }
    body .modal-body .nf-response-msg .button_wrapper{
        margin-right: 0;
        padding-bottom: 20px;
    }
    body .modal-form .nf-form-wrap{
         /*padding-bottom: 0px;*/
    }

    body.error404 .hero.inside_pages h1{
        font-size: 160px;
    }
    body.error404 .hero.inside_pages h2{
        font-size: 16px;
    }
    body.error404 .hero.inside_pages .hero_content_inner_wrapper:before{
        height: 360px;
        top: 50%;
        transform: translate(-50%,-50%) skew(-31deg);
    }
    body.error404 .hero.inside_pages .hero_content_inner_wrapper{
        vertical-align: middle;
    }
    body.error404 .hero .section__layer{
        overflow: hidden;
    }
    .featured_auction_info .content_wrapper h1 {
        font-size: 50px;
    }
    .featured_auction_info .featured_auction_content_info .info {
        font-size: 16px;
    }
    .featured_auction_info .featured_auction_content_info .info svg{
        top: -12px;
    }
    .cars_section .section__layer .item{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .cars_section .section__layer h2{
        font-size: 28px;
    }
    .cars_section .load_more_posts{
        padding: 15px 20px;
        font-size: 16px;
    }
    .cars_section .section__layer .button_wrapper{
        text-align: center;
    }
    .modal-slider .modal-content{
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
        height: auto;
    }
    .modal-slider .modal-content .modal-body{
        height: auto;
    }
    .who_we_are .items_wrapper .background {
        right: auto;
        left: 31%;
    }
    .who_we_are .item:last-child .items_wrapper .background {
        left: -47px;
    }

    #gallery_page_modal_slider .modal-content {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
    }

    #gallery_page_modal_slider .modal-content .modal-body{
        height: 100%;
    }

    #gallery_page_modal_slider .close {
        right: 15px;
        top: -20px;
    }
    
    #gallery_page_modal_slider .close svg {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 585px){
    .header__nav .button{
        display: none;
    }
    .navbar-collapse-inner .buttons_wrapper{
        display: block;
    }

    .header__nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header__nav .header__logo {
        max-width: 116px;
        margin: 0 auto;
    }
    .reviews .swiper-nav{
        padding-bottom: 20px;
    }

    .section-gallery::after {
        background-position: center;
    }

    .section-gallery .section__layer {
        padding: 90px 0 130px 0;
    }

    .section-gallery__gallery-container {
        width: 100%;
        transform: none;
    }

    .section-gallery__main .container {
        padding: 0;
    }

    .section-gallery__gallery-container .bottom_lines,    
    .section-gallery__gallery-container .top_lines {
        display: none;
    }

    .section-gallery__slider .swiper-wrapper .image-wrapper {
        position: relative;
        left: auto;
        width: 100%;
        height: 100%;
        z-index: 0;
        -ms-transform: none;
        transform: none;
    }

    .section-gallery__slider .swiper-wrapper img {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        min-height: 266px;
        object-fit: cover;
        transform: none;
    }

    .section-gallery__slider {        
        -webkit-clip-path: polygon(100% 1%, 100% 35%, 68% 100%, 0 100%, 0 0);
        clip-path: polygon(100% 1%, 100% 35%, 68% 100%, 0 100%, 0 0);
    }

    .section-gallery__slider-container::before {
        display: block;
        content: '';
        position: absolute;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background: rgba(38, 34, 97, 0.3);
        top: 0;
        bottom: -10px;
        left: 0;
        right: -10px;
        z-index: -1;
        -webkit-clip-path: polygon(100% 1%, 100% 35%, 68% 100%, 0 100%, 0 0);
        clip-path: polygon(100% 1%, 100% 35%, 68% 100%, 0 100%, 0 0);
    }

    .section-gallery__main .swiper-nav {
        transform: translate(-50%);
    }

    .modal-slider .slides-main {
        height: calc(100% - 45px);
        height: -webkit-calc(100% - 45px);
        height: -moz-calc(100% - 45px);
        height: calc(100% - 45px);
        overflow: hidden;
    }

    .gallerysection_thumbs_slider {
        max-width: 1500px;
        height: 45px;
    }

    .modal-slider .slides-main .gallerysection_modal_slider_wrapper {
        height: calc(100vh - 215px);
        max-height: 100%;
    }

    .modal-slider .gallerysection_thumbs_slider_wrapper .swiper-slide {
        max-width: 54px;
    }

    .gallerysection_thumbs_slider_wrapper .swiper-nav button {
        top: 31px;
    }

    .gallerysection_thumbs_slider_wrapper .swiper-nav button svg {
        width: 30px;
    }

    #gallery_page_modal_slider .modal-content .close {
        width: 30px;
        height: 30px;
        padding: 0;
        right: 15px;
    }
}
@media (max-width: 550px){
    .hero h1 {
        font-size: 50px;
        text-align: center;
    }
    .hero .hero_content_wrapper .stars{
        text-align: center;
    }
    .hero .hero_content_wrapper{
        text-align: center;
    }
    .hero .hero_side_cover .top_lines{
        display: none;
    }
    .hero .hero_side_cover{
        overflow: hidden;
        width: 100% !important;
    }
    .hero .hero_side_cover .hero_side_cover_wrapper{
        width: 194% !important;
    }
    .hero .hero_bottom_image{
        text-align: left;
    }
    .hero .hero_bottom_image img{
        max-width: 170px;
    }
    .hero .play_button .js-video-play {
        max-width: 250px;
        margin-top: 70px;
    }
    .hero .hero_content_wrapper {
        padding-top: 90px !important;
    }
    .hero .button{
        margin-left: 13px;
        margin-bottom: 30px;
    }
    .hero .hero_side_cover .eagle img {
        left: 29% !important;
        width: 100% !important;
        transform: translateX(-50%) !important;
    }
    .hero .hero_side_cover .eagle {
        top: -30px !important;
    }
    .why_patriot_towing .items_wrapper .item{
        width: 100%;
        position: relative;
        padding: 20px 0 20px 80px;
        display: block;
        max-width: 330px;
        margin: 0 auto 20px;
    }
    .why_patriot_towing .items_wrapper .item .icon{
        width: 60px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .why_patriot_towing .items_wrapper .item .icon svg{
        width: 100%;
        height: auto;
    }
    .why_patriot_towing .items_wrapper .item h3{
        text-align: left;
        margin-bottom: 0;
    }
    .why_patriot_towing .line_effect.left{
        top: auto;
        bottom: 0;
    }
    .why_patriot_towing .line_effect.right{
        top: 30px;
        bottom: auto;
    }
    .why_patriot_towing .line_effect{
        max-width: 80px;
    }
    #menu-footer-menu-1 li .sub-menu, #menu-footer-menu li .sub-menu{
        min-width: 300px;
    }
    #menu-footer-menu-1 li .sub-menu li, #menu-footer-menu li .sub-menu li{
        padding: 3px 20px;
    }
    .hero.inside .hero_content_wrapper .stars{
        text-align: left;
    }
    .hero.inside .title_wrapper{
        display: block;
    }
    .hero.inside .hero_content_wrapper{
        text-align: left;
    }
    .header__nav .button{
        display: none;
    }
    .navbar-collapse-inner .buttons_wrapper{
        display: block;
    }

    .modal-video .modal-dialog {
        max-width: 380px;
        margin: 0 auto;
    }
    .modal-video .modal-dialog iframe{
        height: 200px;
    }
    .why_patriot_towing .line_effect{
        width: 75px !important;
    }
    .page-template-page-careers .hero.inside .hero_content_wrapper,
    .page-template-page-about .hero.inside .hero_content_wrapper{
        height: 740px;
    }
    .page-template-page-about .hero .hero_side_cover .hero_side_cover_wrapper {
        height: 59% !important;
    }
    .modal-bio:not(.meet_team) .modal-content .background .image{
        background-position: center -50px;
    }

    .mobile_small{
        display: block;
        font-size: 40px;
    }
    .hero .section__layer:before{
        background: linear-gradient(180deg, #0F0D26 0%, rgba(15, 13, 38, 0.7) 56.38%, rgba(15, 13, 38, 0) 100%);
    }
    .page-template-page-about .hero .section__layer{
        background-position: center -40px;
        background-size: 375%;
    }
    .text-sect-in-memory {
        padding-top: 30px;
        padding-bottom: 0;
    }
    .hero.hero-in-memory.inside h1 {
        font-size: 50px;
    }
    .hero.hero-in-memory.inside .hero_content_wrapper {
        padding-bottom: 30px;
        min-height: inherit;
    }
    .hero.hero-in-memory .hero_side_cover .hero_side_cover_wrapper {
        height: 110% !important;
    }
    .hero.hero-in-memory.inside .description {
        max-width: 100%;
    }
    .hero-in-memory__mobile-image {
        display:block;
    }
    .text-sect-in-memory:before {
        margin-top: -13vh;
        height: 56vh;
        background-size: cover;
    }
}
@media (max-width: 480px) {
    .header__nav .phone_number a span{
        display: none;
    }
    .header_right_elements{
        padding-right: 0;
    }
    .our_team .team_slider{
        padding: 0 0px;
    }

    .hero.inside .description.description-show {
        max-height: 42px;
    }

    .hero.inside p{
        margin-bottom: 8px;
    }
    .stars svg{
        width: 16px;
    }
}

/*.reviews,*/
/*.our_team,*/
/*.service_area,*/
/*
.footer{
    display: none;
}*/
