/*.third {
    float: left;
    width: calc((100% - 32px) / 3);
    padding: 0;
}*/

.third:last-of-type {
    margin-right: 0;
}

/* Define how SqPaymentForm iframes should look */
.sq-input {
    background: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 120% !important;
    letter-spacing: 0.05em !important;
    color: rgba(255, 255, 255, 0.5) !important;
    background-color: transparent !important;
    padding: 0px 0px 3px !important;
    height: 23px !important;
}

/* Define how SqPaymentForm iframes should look when they have focus */
.sq-input--focus {
    border: 1px solid #4A90E2;
}

/* Define how SqPaymentForm iframes should look when they contain invalid values */
.sq-input--error {
    border-bottom: 1px solid #FF4F4F !important;
}
